<section class="px-4 text-center">
  <h1 class="p-10 text-4xl">Home of Recipes</h1>
  <p class="p-4 text-xl">Select the desired recipe from the sidebar.</p>
  <div class="flex flex-wrap gap-5">
    {{#each recipes as |recipe|}}
      <div class="flex-1">
        <img
          src="/src/assets/img/{{makeID name}}.webp"
          alt="{{recipe.name}}"
          class="aspect-square object-cover"
        />
      </div>
    {{/each}}
  </div>
</section>