<aside>
  <h1>Available Recipes</h1>
  <ul id='recipes-list'>
    {{#each recipes as |recipe|}}
      <li><a href='/src/pages/{{makeID recipe.name}}.html'><img
            src='/src/assets/img/{{makeID name}}.webp'
            alt=''
          /><span>{{recipe.name}}</span></a></li>
    {{/each}}
  </ul>
  <ul>
    <li><a href='/'>Home</a></li>
  </ul>
</aside>