<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/ico" href="/src/assets/favicon.ico" />
    <link rel="stylesheet" href="/src/index.css" />
    <title>{{title}}</title>
  </head>
  <body class="">
    {{> header }}
    <div class="container">
      {{> sidebar }}
      {{> @partial-block }}
    </div>
    {{> footer }}
    <script type="module" src="/src/index.js"></script>
  </body>
</html>